.aboutUs {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__banner {
        width: 100%;
    }

    &__introduction {
        display: flex;
        width: 100%;
    }

    &__introImage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        height: 610px;
        padding: 0 20px;

        img {
            width: 100%;
            min-width: 550px;
            
        }
    }

    &__introDesc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__introContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        padding: 0 20px;

        img {
            width: 100%;
            max-width: 414px;
            align-self: flex-start;
            margin-bottom: 50px;
        }
        
        p {
            font-family: $poppins;
            font-size: 1.5rem;
            color: $darkBlue;
        }
    }

    &__question {
        background-color: #F9F9F9;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
    }

    &__questionTitle {
        font-family: $monserrat;
        font-weight: bold;
        font-size: 3rem;
        color: $orange;
        margin-bottom: 20px;
    }

    &__questionDesc {
        font-family: $poppins;
        font-size: 1.5rem;
        color: $darkBlue;
        margin-bottom: 40px;
    }

    &__interaction {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__itemContainer {
        display: flex;
        width: 100%;
        max-width: 1000px;
        justify-content: space-around;
        margin-bottom: 25px;
    }

    &__itemDesc {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__itemText {
        background-color: rgba(158, 104, 199, 0.29);
        width: 100%;
        font-family: $poppins;
        font-size: 1.3rem;
        color: $darkBlue;
        padding: 30px 40px;
    }
}