.dreamBoard {
    display: flex;
    flex-direction: column;
    font-family: $monserrat;

    &__introduction {
        display: flex;
        align-items: center;
        background-image: url("./../images/backgroundpurple.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 140px;

        & h2 {
            font-family: $monserrat;
            font-size: $headerTitle;
            color: white;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
        }
    }

    &__board {
        display: flex;
        width: 100%;
        border: 3px dashed $greenBlue;
    }

    &__addBtn {
        background-color: $purple;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        /* background-color: $lightBlue;*/
        width: 100%;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::-webkit-scrollbar {
            width: 2vh;
            height: 0px;
        }

        /*            Track 
        &::-webkit-scrollbar-track {
            //background: #f1f1f1;
          } */

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $purple;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        &__title {
            height: 10vh;
            display: grid;
            place-content: center;

            & span {
                font-size: $dreamBoardTitle;
                font-weight: $bold;
            }
        }

        &--unstarted {
            /* background-color: $unstartedBlue;*/
            border-right: 3px dashed $greenBlue;
        }

        /* &--inProgress {
            background-color: $inProgressBlue;
        }
        */

        &--finished {
            /* background-color: $finishedBlue;*/
            border-left: 3px dashed $greenBlue;
        }
    }

    &__itemContainer {
        width: 100%;
        padding: 0 20px;
    }

    &__addModal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
    }

    &__addContainer {
        width: 100%;
        max-width: 600px;
        background-color: $greenBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        /*border: 3px dashed #7030A0;*/
    }

    &__form {
        width: 100%;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 1.625rem;
            font-weight: bold;
            align-self: flex-start;
            margin-bottom: 20px;
            color: white;
        }
    }

    &__addClose {
        background-color: white;
        outline: none;
        border: none;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 12px;
        align-self: flex-end;
        margin-right: 20px;

        img {
            max-width: none;
        }
    }

    &__addImage {
        width: 300px;
        margin-bottom: 10px;
    }

    &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 20px;
        justify-content: space-around;

        div {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
        }

        q {
            font-style: italic;
            font-size: 2rem;
            text-align: right;
        }

        p {
            font-size: 1.8rem;
            font-weight: bold;
            text-align: right;
        }
    }
}

.state {
    display: inline;
    background-color: white;
    color: $mediumOrange;
    font-family: $monserrat;
    font-weight: $bold;
    height: 15%;
    border-radius: 25px;
    border-color: $mediumOrange;
    width: 50%;
    border-style: solid;
    position: absolute;
    bottom: 6vh;
}
.nextState {
    right: 0;
}

.backState {
    left: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
