.dreamBoard {
    display: flex;
    flex-direction: column;
    font-family: $monserrat;

    &__introduction {
        display: flex;
        align-items: center;
        background-image: url("./../images/dreamBoardBackground.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 140px;

        & h2 {
            font-family: $monserrat;
            font-size: $headerTitle;
            color: $darkBlue;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
        }
    }

    &__board {
        display: flex;
        width: 100%;
        border: 3px dashed $greenBlue;
    }

    &__addBtn {
        background-color: $purple;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        background-color: $lightBlue;
        width: 100%;
        height: 100vh;
        place-content: center;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 2vh;
            height: 0px;
            
          }
          
/*            Track 
        &::-webkit-scrollbar-track {
            //background: #f1f1f1;
          } */
          
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $purple;
            border-radius: 10px;
          }
          
          /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

        &__title {
            height: 10vh;
            display: grid;
            place-content: center;

            & span {
                font-size: $dreamBoardTitle;
                font-weight: $bold;
            }
        }

        &--unstarted {
            background-color: $unstartedBlue;
            border-right: 3px dashed $greenBlue;
        }

        &--inProgress {
            background-color: $inProgressBlue;
        }

        &--finished {
            background-color: $finishedBlue;
            border-left: 3px dashed $greenBlue;
        }
    }

    &__item {
        background-color: $mediumOrange;
        width: 70%;
        height: 45vh;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 5vh;
        border-radius: 50px;

        &__title {
            display: block;
            color: white;
            font-weight: $bold;
            margin-top: 10%;
            margin-left: 10%;
            width: 70%;
        }

        &__deleteBtn {
            width: 4vh;
            height: 4vh;
            position: absolute;
            right: 3vh;
            top: 4vh;
            font-size: large;
            color: white;
            border-color: #b15fef;
            background-color: #b15fef;
            border-radius: 5px;
        }

        &__objective {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 15%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;

            & img {
                width: 25%;
                position: absolute;
                left: 0;
            }

            &--value {
                color: white;
                font-family: $poppins;
                position: absolute;
                right: 0;
            }
        }
    }

    &__addModal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #ffffff, $alpha: .5);
    }

    &__addContainer {
        width: 100%;
        max-width: 600px;
        background-color: $lightPurple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        border: 3px dashed #7030A0;
    }

    &__form {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 1.625rem;
            font-weight: bold;
            align-self: flex-start;
            margin-bottom: 20px;
        }
    }

    &__addClose {
        background-color: #B15FEF;
        outline: none;
        border: none;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 12px;
        align-self: flex-end;
        margin-right: 20px;

        img {
            max-width: none;
        }
    }

    &__addImage {
        width: 300px;
        margin-bottom: 10px;
    }
}

.nextState {
    display: inline-block;
    margin: auto;
    background-color: white;
    color: $mediumOrange;
    font-family: $monserrat;
    font-weight: $bold;
    height: 15%;
    border-radius: 25px;
    border-color: $mediumOrange;
    width: 70%;
    border-style: solid;
}

