.dreamItem {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(246, 109, 29, 0.4);
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 15px;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: $orange;
        border-radius: 20px 20px 0 0;
        padding: 15px 10px;
    }

    &__title {
        color: white;
        font-weight: $bold;
        font-size: 1.5rem;
        margin-right: 5px;
        margin-left: 20px;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__deleteBtn {
        border: none;
        width: 35px;
        height: 35px;
        max-width: none;
        font-size: 1.2rem;
        color: black;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: none;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding: 0px 10px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 260px;
        margin-bottom: 10px;

        & img {
            width: 40px;
        }

        & span {
            color: $darkBlue;
            font-family: $poppins;
            font-size: 1.5rem;
            text-align: right;
            align-self: flex-end;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 10px;
    }

    &__btn {
        background-color: $orange;
        color: white;
        font-family: $poppins;
        font-size: 1.1rem;
        font-weight: $bold;
        border-radius: 25px;
        border: none;
        width: 100%;
        max-width: 250px;
        padding: 8px 10px;
    }

    &__payForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
        padding: 0px 10px;

        label {
            color: $darkBlue;
            font-family: $poppins;
            text-align: center;
            font-weight: lighter;
            font-size: 0.9rem;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            max-width: 280px;
            background-color: white;
            border: none;
            outline: none;
            text-align: right;
            border: 1px solid $darkBlue;
            border-radius: 10px;
            font-size: 1.1rem;
            padding: 8px 10px;
            margin-bottom: 15px;
            color: $darkBlue;
        }
    }

    &__remainingSection {
        width: 100%;
        font-family: $poppins;
        margin-bottom: 10px;

        h4 {
            text-align: center;
            color: $darkBlue;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }

        h5 {
            text-align: center;
            color: $darkBlue;
            font-size: 0.8rem;
            margin-bottom: 5px;
        }
    }

    &__remainingMoney {
        text-align: center;
        color: $darkBlue;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    &__progress {
        border-radius: 10px;
        height: 1.5vh;
        width: 90%;
    }
}
