.dreamBoard {
    font-family: $monserrat;

    &__introduction {
        position: relative;

        img {
            width: 100%;
        }

        & h2 {
            font-family: $monserrat;
            font-size: $headerTitle;
            color: $darkBlue;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 40%;
        }
    }

    &__addBtn {
        background-color: $purple;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        bottom: 0;
        right: 0;
    }

    &__container {
        background-color: $lightBlue;
        width: 30%;
        height: 100vh;
        place-content: center;

        &__title{
            height: 10vh;
            display: grid;
            place-content: center;
            
            & span {
                font-size: $dreamBoardTitle;
                font-weight: $bold;
            }
        }
    }

    &__item{
        background-color: $mediumOrange;
        width: 70%;
        height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 50px;
        
        &__title{
            display: block;
            color: white;
            font-weight: $bold;
            margin-top: 10%;
            margin-left: 10%;
            width: 70%;
        }

        &__deleteBtn{
            width: 4vh;            
            height: 4vh;
            position: absolute;
            right: 3vh;
            top: 4vh;
            font-size: large;
            color: white;
            border-color: #B15FEF;
            background-color: #B15FEF;
            border-radius: 5px;
        }

        &__objective{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 15%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;

            & img{
                width: 25%;
                position: absolute;
                left: 0;
            }

            &--value{
                position: absolute;
                right: 0;
            }
        }
    }
}
.nextState{
    display: inline-block;
    margin: auto;
    background-color: white;
    color: $mediumOrange;
    font-family: $monserrat;
    font-weight: $bold;
    height: 15%;
    border-radius: 25px;
    border-color: $mediumOrange;
    width: 70%;
}