.events {
    font-family: $monserrat;

    &__introduction {
        position: relative;

        img {
            width: 100%;
        }

        & h2 {
            font-size: $headerTitle;
            color: white;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 40%;
        }
    }

    &__tagMeaning {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px 0;
    }

    &__tag {
        display: flex;
        align-items: center;
        margin: 0 20px;

        div {
            background-color: $greenBlue;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
        
        p {
            font-family: $poppins;
            font-size: 1.5rem;
            color: #777777;
            margin-left: 7px;
        }

        &--purple {
            div {
                background-color: $purple;
            }
        }

        &--orange {
            div {
                background-color: $orange;
            }
        }
    }

    &__select{
        display: flex;
        margin: 30px 0;

        & h4 {
            font-size: $headerTitle;
            color: $darkBlue;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
            width: 100%;         
        }
    }

    &__content{
        
        width: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px 0;

        &--recent{
            border-top: 6px dashed $greenBlue;
            border-bottom: 6px dashed $greenBlue;
        }

        &--conference{
            background-color: white;
        }

        &--training{
            background-color: white;
        }

        & h4 {
            font-size: $headerTitle;
            color: $darkBlue;
            font-size: 1.5rem;
            font-weight: $bold;
            text-align: center;
            position: absolute;
            width: 100%;           
        }
    }
    
    &__next{
        margin: 5vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $orange;
        width: 45vh;
        height: 8vh;
        border-radius: 25px;
        border: none;
        color: white;
        font-weight: $bold;
        font-size: 1.5rem;
    }
}
