.input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: $monserrat;
    font-weight: bold;
    font-size: 1.225rem;
    margin-bottom: 20px;

    &__textBox {
       border: 2px solid $greenBlue;
       width: 100%;
       border-radius: 20px;
       padding: 12px 10px;
       font-size: 1rem;
       margin-top: 10px;
       font-family: $poppins;
    }
}
