.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: $monserrat;
        color: $darkBlue;
        font-weight: $bold;
        font-size: $bigTitle;
        margin: 40px 0;
    }
}