.specificEventForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0px;
    margin-bottom: 80px;

    &__container {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 6px dashed $greenBlue;
        padding: 40px 40px;
        margin-left: 40px;
        position: relative;
        left: 5%;

        h2 {
            align-self: flex-start;
            font-family: $monserrat;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }

    &__character {
        display: flex;
        position: relative;
        top: 15%;
        width: 800px;
    }
}