.specificEvent {
    width: 100%;

    &__banner {
        width: 100%;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }

    &__bannerFilter {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        &--purple {
            background-color: rgba($color: #7030a0, $alpha: 0.47);
        }

        &--orange {
            background-color: rgba($color: #ff6c02, $alpha: 0.47);
        }
    }

    &__title {
        font-family: $monserrat;
        font-weight: bold;
        font-size: 3rem;
        color: white;
        position: relative;
        z-index: 2;
        width: 700px;
        margin-top: 20px;
    }

    &__tag {
        font-family: $monserrat;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        color: white;
        margin-top: 20px;
        z-index: 2;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        margin-bottom: 10px;
    }

    &__infoContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }

    &__infoTitle {
        font-family: $monserrat;
        color: $darkBlue;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: left;
        align-self: flex-start;
    }

    &__eventInfo {
        display: flex;
        width: 100%;
        margin-left: 20px;
    }

    &__eventDetails {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 20px;
    }

    &__microInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    &__topicSection {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        h4 {
            font-family: $monserrat;
            font-weight: bold;
            color: $darkBlue;
            font-size: 1.2rem;
            margin-right: 10px;
        }
    }

    &__topic {
        font-family: $monserrat;
        color: white;
        font-size: 1.2rem;
        border-radius: 27px;
        padding: 8px 10px;

        &--purple {
            background-color: $purple;
        }

        &--orange {
            background-color: $orange;
        }
    }

    &__eventSummaryInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__eventSummary {
        border-radius: 50px;
        border: 1px solid $greenBlue;
        padding: 25px 20px;
        vertical-align: middle;
        p {
            font-family: $poppins;
            color: $darkBlue;
            font-size: 1.2rem;
        }
    }

    &__organizerSection {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-family: $monserrat;
            font-weight: bold;
            color: $darkBlue;
            font-size: 1.2rem;
            margin-right: 10px;
        }

        p {
            border-radius: 27px;
            padding: 8px 10px;
            font-family: $poppins;
            color: white;
            font-size: 1.2rem;
        }

        &--purple {
            p {
                background-color: $purple;
            }
        }

        &--orange {
            p {
                background-color: $orange;
            }
        }
    }
}
