.specificEvent{
    
    &__introduction{
        
        width: 100%;
        background-color: $greenBlue;
        padding: 7vh;
        
        & h2 {
            font-family: $monserrat;
            font-size: $headerTitle;
            color: white;
            font-size: 2rem;
            font-weight: $bold;
            text-align: center;
            width: 100%;
        }
    }

    &__backgroundImg{
            
        position: relative;

        & img{
            z-index: 10;
        }

        &__imgFilter{
            position: absolute;
            width: 100%;
            top: 0px;
            height: 100%;
            background-color: purple;
            opacity: 47%;
        }

        &__text {
            position: absolute;
            top: 40%;
            left: 10vh;
        }

        &__mainText{
            font-family: $monserrat;
            font-size: $headerTitle;
            color: white;
            font-size: 4rem;
            font-weight: $bold;
        }

        &__subText{
            font-family: $monserrat;
            margin-top: 5vh;
            color: white;
            font-size: 2rem;
            font-weight: $bold;
        }
    }

    &__mainEvent {
        width: 80%;

        & h2{
            padding: 5vh 0;
            font-size: 1.5rem;
            font-family: $monserrat;  
            font-weight: $bold;
        }
        
        &__shortInfo{
            display: inline-flex;
            width: 49%;
            padding: 0 10vh;

            &__info{
                width: 100%;
                display: flex;
                margin-bottom: 3vh;
                align-items: center;
                justify-content: center;
                & span {
                    width: 100%;
                    color: black;
                    position: relative;
                    font-family: $poppins;
                    font-size: 1rem;
                }
                &__imgContainer{
                    width: 100px;
                }
            }
        }

        &__longInfo{
            font-family: $poppins;
            margin: 0px;
            display: inline-flex;
            border: 2px solid $lightBlue;
            border-radius: 50px;
            width: 49%;
            padding: 25px;
        }

        &__theme {
            font-weight: $bold;
            font-family: $monserrat;
            display: block;
            
            &--value {
                padding: 5px 20px; 
                font-family: $poppins;
                background-color: $purple;
                color: white;
                border-radius: 30px;
            }
        }

        &__register {
            margin-top: 3vh;
        }
    }

    &__exponent {
        width: 80%;
        & h2{
            padding: 5vh 0;
            font-size: 1.5rem;
            font-family: $monserrat;  
            font-weight: $bold;
        }

        &__container {
            
            border: 1px solid $purple;
            border-radius: 50px;
            display: flex;
            margin: auto;

            &__info{
                background-color: $purple;
                border-radius: 50px;
                width: 25%;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;

                & img{
                    width: 50%;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }
                &--name{
                    font-family: $monserrat;
                    font-weight: $bold;
                    font-size: 1.5rem;
                    color: white;
                    margin-bottom: 10px;
                }
                &--age{
                    font-family: $monserrat;
                    color: white;
                    margin-bottom: 10px;
                }
            }

            &__data{
                width: 74%;
                padding: 30px;
                display: inline-flex;
                font-family: $poppins;
                align-items: center;
            }
        }
    }
    &__form {
        
        &__container {
          width: 50%;
          height: 100%;
          max-width: 800px;
          padding: 50px;
          border: 6px dashed $greenBlue;
          background-color: white;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: 70px;
        }
      
        &__logo {
          max-width: none;
          width: 400px;
          margin-bottom: 10px;
        }
      
        &__form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          max-width: 500px;

          &  h2{
            margin-bottom: 40px;
            font-family: $monserrat;
            font-weight: $bold;
            width: 100%;
          }
        }
      
        &__alternative {
          font-family: $monserrat;
          margin-bottom: 20px;
          text-align: center;
        }
      
        &__character {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:flex-end;
          width: 100%;
          height: 100%;
          max-width: 630px;
        }
      
        &__title {
          text-align: center;
          font-family: $monserrat;
          font-weight: bold;
          color: $darkBlue;
          font-size: 3rem;
          margin-bottom: 60px;
        }
      
        &__image {
          max-width: none;
          width: 90%;
          align-self: flex-start;
          justify-content: flex-start;
        }
    }   
    
    &__organizer {
        font-weight: $bold;
        font-family: $monserrat;
        display: block;
        margin: 40px 0;
        
        &--value {
            padding: 5px 20px; 
            font-family: $poppins;
            background-color: $purple;
            color: white;
            border-radius: 30px;
        }
    }
}